:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
  font-weight: normal;
}

.recipe-container {
  background-color: hsl(0, 0%, 100%);
  max-width: 40%;
  padding: 1em;
  border-radius: 1em;
  margin: 0 auto;
}

.heading {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.hero-img {
  width: 100%;
  padding: 1em;
  height: 15em;

  background-image: url(./images/image-omelette.jpeg);
  background-size: cover;
  border-radius: 0.5em;
  background-position: 50%;
}

.sub-heading {
  color: hsl(14, 45%, 36%);
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.ingredients,
.instructions,
.nutrition {
  padding: 0.5em 0;
  margin: 0;
}

.preparation .sub-heading {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(332, 51%, 32%);
}

ul,
ol {
  padding: 1em;
  margin: 0;
}

li + li {
  padding-top: 0.2em;
}

span {
  font-weight: bold;
}

.preparation {
  background-color: hsl(330, 100%, 98%);
  padding: 0.5em;
  border-radius: 0.5em;
}

.ingredients,
.instructions {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  width: 100%;
}

.nutritional-table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 0.5em;
}

.nutritional-table tr td:nth-of-type(2) {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}
